<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>About</title>
</head>
<body>
<h1>Richard Turner</h1>
<ul>
    <li> Turner was born in San Diego in 1954, which he dubbed "the year of the full deck" (referring to a standard 52-card deck of playing cards, plus the two jokers). </li>
    <li> At the age of seven he became infatuated with the television show Maverick.</li> 
    <li> His eyesight began failing at the age of nine following his recovery from a bout with scarlet fever. 
        The macula of each of Turner's eyes was completely destroyed, preventing forward vision. By the age of thirteen, 
        his vision deteriorated to 20/400; over the years, 
        what little vision Turner possessed gradually deteriorated to the point where he presently can no longer distinguish between a fully lit room and total darkness.
    </li>
    <li> Turner attended a special school for the visually impaired in Santee, California, where he refused to learn Braille. His younger brother, David, had been taking karate lessons for nine months, and invited Turner to accompany him. He began karate lessons in 1971 under the tutelage of Master John Murphy, the United States' founder of Wado-Kai, a Japanese hard-style karate, was good at it, and began training at Gene Fisher's Gym, eventually earning a sixth-degree black belt in Wado-Kai karate.</li>
    <li> In 1972 Turner auditioned for a small non-profit San Diego Christian theater operated by television actor Steve Terrell, and he performed for six years with the "Lamb's Players Theatre". Terrell taught Turner how to look people in the eye so that they would not know of his visual impairment.</li>
    <li> He was later introduced to stuntman Bobby Yerkes, who taught him to swing on the trapeze, walk a tight rope, and take high falls.</li>
</ul>
<img id="imageAbout" src="/images/richard_turner_cards.jpg" alt="richard turner with cards">
<ul>
    <li>
        <img class="card" src="/images/ace.png" alt="ace-card">
        <a href="/">Home</a>
    </li>
    <li>
        <img class="card" src="/images/ace.png" alt="ace-card">
        <a href="/works">Works</a>
    </li>
    <li>
        <img class="card" src="/images/ace.png" alt="ace-card">
        <a href="/photogallery">Photogallery</a>
    </li>
</ul>
</body>
</html>