<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body id="homepage">
    <h1>Welcome!</h1>
    <p>Do you wanna find out who this man is?<br>Check it out here!</p>
    
    <ul>
        <li>
            <img class="card" src="/images/ace.png" alt="ace-card">
            <a href="/about">About</a>
        </li>
        <li>
            <img class="card" src="/images/ace.png" alt="ace-card">
            <a href="/works">Works</a>
        </li>
        <li>
            <img class="card" src="/images/ace.png" alt="ace-card">
            <a href="/photogallery">Photogallery</a>
        </li>
    </ul>

</body>
</html>