<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>

    <link rel="stylesheet" href="/stylesheet.css">

</head>
<body>
    
<h1>Tricks</h1>

<ul>
    <li>Eighteen ways of false shuffling and false cutting.</li>
    <li>Stacking the Deck using overhand shuffles.</li>
    <li>Riffle shuffles.</li>
    <li>Table Faros.</li>
    <li>Nullifying the Cut.</li>
    <li>The Hop.</li>
    <li>The one and two hand shifts.</li>
    <li>Crimps.</li>
</ul>


</body>
</html>